<div id="team-selection">
    <span (click)="selectTeam(null)" class="team-selection-button {{selectedTeamCss(null)}}"><i>All</i></span>
    <span *ngFor="let team of ['TeamA', 'TeamB', '??']" (click)="selectTeam(team)" class="team-selection-button {{selectedTeamCss(team)}}">
       {{team}} 
    </span> 
</div>


<div id="person-selection">
    <span (click)="selectPerson(null)" class="person-selection-button {{selectedPersonCss(null)}}"><i>All</i></span>
    <span *ngFor="let person of model.allPersons" (click)="selectPerson(person.pid)" class="person-selection-button {{selectedPersonCss(person)}}" >{{person.name}}</span>  
</div>

<hr>

<div *ngFor="let epic of model.epicStore.allEpics">
    <div class="epic-title">{{epic.name}}</div>
    <div *ngFor="let parentTicket of epic.parentTickets" class="parent-ticket {{parentTicket.styleClassString}}" (click)="parentTicket.toggleCollapsed()">
        <div class="status-box"></div>
        <div class="parent-ticket-title">
            <a target="_blank" href="{{parentTicket.getUrl()}}">{{parentTicket.key}}</a>: {{parentTicket.subject}} {{parentTicket.flatChildren.length}}
        </div>
        <div class="child-tickets child-tickets-by-skill-container">
            <div *ngFor="let skill of model.skillsInTeam" class="skill-box">
                <div class="skill-title">{{skill}}</div>
                <div class="child-tickets-per-skill">
                    <div *ngFor="let childTicket of parentTicket.getChildrenPerSkill(skill)" class="child-ticket {{childTicket.styleClassString}}">
                        <div class="status-box"> </div>
                        <div class="child-ticket-key"><a target="_blank" href="{{childTicket.getUrl()}}">{{childTicket.key}}</a></div>
                        <div class="child-ticket-subject">{{childTicket.subject}}</div>
                        <div class="child-ticket-time">{{childTicket.time}}</div>
                        <div class="ticket-labels">
                            <div *ngFor="let lbl of childTicket.labels" style="background:#D0D0D0; float:right;" class="ticket-label">
                                {{lbl}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="child-tickets child-tickets-flat">
            <div *ngFor="let childTicket of parentTicket.flatChildren" class="child-ticket {{childTicket.styleClassString}}" >
                <div class="status-box"> </div>
                <div class="child-ticket-key"><a target="_blank" href="{{childTicket.getUrl()}}">{{childTicket.key}}</a></div>
                <div class="child-ticket-subject">{{childTicket.subject}}</div>
                <div class="child-ticket-time">{{childTicket.time}}</div>
                <div class="ticket-labels">
                    <div *ngFor="let lbl of childTicket.labels" style="background:#D0D0D0; float:right;" class="ticket-label">
                        {{lbl}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

