.class-not-initialized
    background-color: red;


.highlight-yes
    border: solid 1px #404040;


.this-team-selected, .this-person-selected
    font-weight: bold;

.team-selection-button, .person-selection-button
    cursor: pointer;
    font-family: Helvetica;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;

.parent-ticket
    width: 1200px;
    background-color: #C0C0FF;
    overflow: hidden;
    margin: 5px;
    font-family: Helvetica;
    font-size: 18px;

.parent-ticket-hidden
    display: none;


.parent-ticket-visible
    background-color: white;


.parent-ticket-visible.highlight-no
    border: solid 1px #D0D0D0;

.parent-ticket-visible.highlight-yes
    border: solid 1px #A0A0A0;

.status-box
    border: 1px solid #000000;
    float: left;


.parent-ticket
    > .status-box
        height: 30px;
        width: 30px;

.child-ticket
    > .status-box
        height: 20px;
        width: 20px;


.child-in-team.status-todo .status-box, .parent-ticket.status-todo > .status-box
    background-color: #FFB020;


.child-in-team.status-in-progress .status-box, .parent-ticket.status-in-progress > .status-box
    background-color: #FFFF80;


.child-in-team.status-blocked .status-box, .parent-ticket.status-blocked > .status-box
    background-color: #FF4040;


.child-in-team.status-done .status-box, .parent-ticket.status-done > .status-box
    background-color: #40FF20;



.child-not-in-team.status-todo .status-box
    background-color: #iCCB040;


.child-not-in-team.status-in-progress .status-box
	background-color: #FFFFDD;


.child-not-in-team.status-blocked .status-box
	background-color: #CC6060;


.child-not-in-team.status-done .status-box
	background-color: #D0FFD0;


.parent-ticket-visible
    .parent-ticket-title
        margin-top: 5px;
        width: 720px;
        margin-left: 15px;
        font-size: 18px;
    &.collapsed
        height: 30px;
        .parent-ticket-title
            font-size: 20px;
            float: left;
        .child-tickets
            float: left;
            width: 420px;
            margin-top: 5px;
            .child-ticket
                background-color: #D0D0D0;
                width: 20px;
                height: 20px;
                overflow: hidden;
                margin-left: 5px;
                &.child-in-team
                    float: left;
                    border: 1px solid #000000;
                    background-color: white;

                &.child-not-in-team
                    float: right;
                    color: #404040;
                    background-color: #D0D0D0;

    &.expanded
        margin-top: 5px;
        font-size: 22px;
        margin-left: 15px;
        .parent-ticket-title
        .child-tickets-flat
            background-color: #FF0000;
        .child-tickets-by-skill-container
            background-color: blue;
        .child-tickets
            clear: both;
            margin-top: 5px;
            padding-left: 40px;
            .child-ticket
                .child-ticket-title
                    width: 400px;
                    float: left;
                width: 800px;
                overflow: hidden;
                margin-bottom: 5px;

                &.child-in-team
                    font-style: normal;
                    color: #000000;
                &.child-not-in-team
                    font-style: italic;
                    color: #808080;
                .ticket-labels
                    float: left;
                    width: 200px;
                    .ticket-label
                        margin-left: 5px;
                        margin-top: 5px;



.child-ticket-title
    margin-left: 25px;
    margin-top: 5px;
    word-wrap: unset;

